* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
}

img {
    filter: blur(5px);
    width: 100vw;
    height: 100vh;
}

.calendar {
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fffdff;
    position: absolute;
    top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
    color: #343334;
    border-radius: 10px;
    box-shadow: -5px 3px 15px 4px rgba(0,0,0,0.11), 
    3px 3px 15px 4px rgba(0,0,0,0.22);
}

.calendar .month {
    padding: 0 3.4rem 0 3rem;
    background-color: #ff6334;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fffdff;
}

.calendar .day {
	font-size: 4em;
	margin: -15px;
}

.calendar .week-day {
    margin-top: 10px;
    font-weight: 300;
}

.calendar .year {
    margin-bottom: 15px;
    font-weight: 300;
}