* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(batman.jpg);
    background-size: cover;
}

.calendar {
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fffdff;
    position: absolute;
    top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
    color: #343334;
    padding: .5rem 3.4rem .5rem 3rem;
}